/* STLYES */
:root {
    --midnight-blue: #003B6D;
    --blue-sky: #6699CC;
    --dim-gray: #676767;
    --silver: #BDBDBD;
    --gold-ballon: rgba(255,192,0,255);
}


html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em,
img, strong, ol, ul, li, form, table, tr, th, td, aside, label,
footer, header, nav, section, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

/* Image */

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 4px;
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
    border-radius: -10px;
}


body {
    line-height: 1;
    background: var(--dim-gray);
}

ol, ul {
    list-style: none;
}

input, select, textarea {
    appearance: none;
}

aside, footer, header, nav, section {
    display: block;
}

body, input, select, textarea {
    color: var(--midnight-blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.70;
}

#main p {
    color: var(--silver);
    margin-left: 10px;
}

#main header {
    margin-left: 2em;
}

a {
    transition: border-bottom-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
    color: var(--silver);
}

a:hover {
    border-bottom-color: transparent;
}

strong {
    font-weight: 900;
}

p {
    margin: 0 0 2em 0;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1em 0;
    letter-spacing: -0.035em;
}

hr {
    border: 0;
    border-bottom: solid 1px #c9c9c9;
    margin: 2em 0;
}

h1 a {
    color: inherit;
}

h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.5;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.8em;
}

#main {
    padding: 0em 0 6em 0;
    background-image: linear-gradient(to bottom, var(--dim-gray) 60%, var(--silver));
}

#main a {
    color: black;
}

#main a:hover {
    color: var(--gold-ballon);
}

/* Header */

#header {
    padding: 8em 0 0.1em 0;
    border-radius: 10px;
    color: var(--silver);
}

#header .logo {
    display: block;
    border-bottom: 0;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--silver);
    letter-spacing: 0.20em;
    margin: 0 0 2em 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

#header .logo > * {
    display: inline-block;
    vertical-align: middle;
}

#header .logo .symbol {
    margin-right: 0.65em;
}

#header .logo .symbol img {
    display: block;
    width: 3em;
    height: 3em;
}

#header .logo .title:hover {
    transform: scale(1.0);
    color: var(--blue-sky);
    transition: 0.3s ease;
}

#header nav {
    position: fixed;
    right: 2em;
    top: 2em;
    z-index: 10001;
}

header p {
    margin-top: -1em;
}

/* nav */

nav {
    padding: 1rem;
    display: flex;
    z-index: 1001;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10002;
}

.ham-menu:hover {
    transform: scale(1.1);
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: var(--silver);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(50deg);
    background-color: var(--midnight-blue);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-50deg);
    background-color: var(--midnight-blue);
}

/* Off-Screen Menu */
.off-screen-menu {
    background-color: var(--silver);
    opacity: 0.91;
    height: auto;
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 20px;
    padding: 20px;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    transition: right 0.3s ease;
    z-index: 10000;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: 50px;
    overflow-y: auto;
}

.off-screen-menu.active {
    right: 20px;
    transition: 0.6s ease;
}

.off-screen-menu hr {
    border-top: 1px solid var(--midnight-blue);
    margin: 0;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.off-screen-menu h2 {
    padding-left: 1.5em;
    padding-top: 2em;
    font-size: 2.5em;
    color: var(--midnight-blue);
    align-items: center;
}

.off-screen-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 2em;
    line-height: 2em;
}

.off-screen-menu ul li {
    padding: 0.5em 0.5em;
}

.off-screen-menu ul li:hover {
    transition: 0.4s ease-out;
    transform: scale(1);
    color: var(--dim-gray);
}

.off-screen-menu ul li a {
    color: var(--midnight-blue);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.off-screen-menu ul li a:hover {
    color: var(--gold-ballon);
}

/* Search Bar */
.search {
    width: max-content;
    display: flex;
    align-items: center;
    margin-left: 0.9em;
    padding: 10px;
    margin-top: 0.5em;
    border-radius: 21px;
   background: lightgray;
    transition: box-shadow 0.25s, transform 0.25s ease;
    z-index: 10001;
}

.search:hover, .search:focus-within {
    box-shadow: 0 0 11px 1px var(--midnight-blue);
}

.search-input {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--midnight-blue);
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    caret-color: var(--midnight-blue);
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

/* TILES */

.tiles {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: -2.5em 0 0 -2.5em;
}

.tiles div {
    position: relative;
    width: calc(33.33333% - 2.5em);
    margin: 2.5em 0 0 2.5em;
    transform: scale(0.9);
}

.tiles div > .image {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.tiles div > .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tiles div > .image:before {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: 1;
    opacity: 0.8;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.tiles div > .image:after {
    pointer-events: none;
    transition: opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.25;
    z-index: 2;
}

.tiles div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 4px;
    border-bottom: 0;
    color: var(--silver);
    text-align: center;
    text-decoration: none;
    z-index: 3;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.tiles div > a > :last-child {
    margin: 0;
}

.tiles div > a:hover {
    color: var(--silver) !important;
}

.tiles div > a h2 {
    margin: 0;
}

.tiles div a .content {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    opacity: 0;
}

.tiles div > a .content > :last-child {
    margin-bottom: 0;
}

.tiles div.style1 > .image:before {
    background-color: var(--midnight-blue);
}

.tiles div.style2 > .image:before {
    background-color: var(--gold-ballon);
}

.tiles div.style3 > .image:before {
    background-color: var(--blue-sky);
}

.tiles div.style4 > .image:before {
    background-color: var(--dim-gray);
}

.tiles div.style5 > .image:before {
    background-color: var(--dim-gray);
}

.tiles div.style6 > .image:before {
    background-color: var(--midnight-blue);
}

.tiles div:hover > .image {
    transform: scale(1.1);
}

.tiles div:hover > .image:before {
    background-color: rgba(0, 0, 0, 0.3);
}

.tiles div:hover > .image:after {
    opacity: 0;
}

.tiles div:hover .content {
    max-height: 15em;
    opacity: 1;
}

* + .tiles {
    margin-top: 2em;
}

/* LIST ITEMS */

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

/* FORM */

form {
    margin: 0 0 2em 0;
    overflow-x: hidden;
}

form > :last-child {
    margin-bottom: 0;
}

form > .fields {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
}

form > .fields > .field {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
}

form > .fields > .field.half {
    width: calc(50% - 0.75em);
}

form > .fields > .field.third {
    width: calc(100%/3 - 0.5em);
}

form > .fields > .field.quarter {
    width: calc(25% - 0.375em);
}

label {
    display: block;
    font-size: 0.9em;
    font-weight: 900;
    margin: 0 0 1em 0;
}
    
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px var(--midnight-blue);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
    
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}
    
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-bottom-color: var(--gold-ballon);
    box-shadow: inset 0 -1px 0 0 var(--gold-ballon);
}
    
select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c9c9c9' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 3em;
    padding-right: 3em;
    text-overflow: ellipsis;
}
    
select option {
    background: #ffffff;
}
    
select:focus::-ms-value {
    background-color: transparent;
}
    
select::-ms-expand {
    display: none;
}
    
input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 3em;
}
    
textarea {
    padding: 0;
    min-height: 3.75em;
}
    
input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}
    
input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: #585858;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.55em;
    padding-right: 0.75em;
    position: relative;
}
    
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
    
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    border-radius: 4px;
    border: solid 1px #c9c9c9;
    content: '';
    display: inline-block;
    font-size: 0.8em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.25em;
}
    
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #585858;
    border-color: #585858;
    color: #ffffff;
    content: '\f00c';
}
    
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: var(--gold-ballon);
    box-shadow: 0 0 0 1px var(--gold-ballon);
}
    
input[type="checkbox"] + label:before {
    border-radius: 4px;
}
    
input[type="radio"] + label:before {
    border-radius: 100%;
}

/* FOOTER */

#footer {
    padding: 5em 0 6em 0;
    background-color: var(--silver);
}

#footer .inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#footer > .inner > * > :last-child {
    margin-bottom: 0;
}

#footer > .inner section:nth-child(1) {
    width: calc(66% - 2.5em);
    margin-right: 2.5em;
}

#footer > .inner section:nth-child(2) {
    width: calc(33% - 2.5em);
    margin-left: 2.5em;
}

#footer > .inner .copyright {
    width: 100%;
    padding: 0;
    margin-top: 5em;
    list-style: none;
    font-size: 0.8em;
    color: rgba(88, 88, 88, 0.5);
}

#footer > .inner .copyright a {
    color: inherit;
}

#footer > .inner .copyright li {
    display: inline-block;
    border-left: solid 1px rgba(88, 88, 88, 0.15);
    line-height: 1;
    padding: 0 0 0 1em;
    margin: 0 0 0 1em;
}

#footer > .inner .copyright li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

ul.actions {
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
}

ul.actions.special {
    justify-content: center;
    width: 100%;
    margin-left: 0;
}

ul.actions.special li:first-child {
    padding-left: 0;
}

ul.actions.stacked {
    flex-direction: column;
    margin-left: 0;
}

ul.actions.stacked li {
    padding: 1.3em 0 0 0;
}

ul.actions.stacked li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    width: calc(100% + 1em);
}

ul.actions.fit li {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

ul.actions.fit li > * {
    width: 100%;
}

ul.actions.fit.stacked {
    width: 100%;
}

/* icons */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.icon > .label {
    display: none;
}

.icon:before {
    line-height: inherit;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

.icon.style2 {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: transparent;
    border: solid 1px var(--midnight-blue);
    border-radius: 4px;
    width: 2.65em;
    height: 2.65em;
    display: inline-block;
    text-align: center;
    line-height: 2.65em;
    color: inherit;
}

.icon.style2:before {
    font-size: 1.1em;
}

.icon.style2:hover {
    color: var(--gold-ballon);
    border-color: var(--gold-ballon);
}

.icon.style2:active {
    background-color: rgba(242, 132, 158, 0.1);
}


ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin: -1em 0 2em -1em;
}

ul.icons li {
	display: inline-block;
	padding: 1em 0 0 1em;
}

/* BUTTON */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 2px #585858;
    color: var(--silver) !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    height: 3.5em;
    letter-spacing: 0.35em;
    line-height: 3.45em;
    overflow: hidden;
    padding: 0 1.25em 0 1.6em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    width: 100%;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    color: var(--midnight-blue) !important;
    box-shadow: inset 0 0 0 2px var(--gold-ballon);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(242, 132, 158, 0.1);
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.6em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
    font-size: 1em;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    box-shadow: none;
    background-color:var(--midnight-blue);
    color: var(--silver);
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: var(--gold-ballon);
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
    background-color:var(--gold-ballon);
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    pointer-events: none;
    opacity: 0.25;
}

/* wrapper */

#wrapper > * > .inner {
    width: 100%;
    max-width: 68em;
    margin: 0 auto;
    padding: 0 2.5em;
}

































    



